[mysqld]
character-set-server=utf8

# 一般クエリ
general_log=1
general_log_file=/var/log/mysql/general.log

# スロークエリ
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=0.1

# エラーログ
log-error=/var/log/mysql/error.log

[mysql]
default-character-set=utf8

[client]
default-character-set=utf8